#one{
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;  
}

#two{
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

#three{
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

#four{
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}

#five{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}

#six{
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}