	header {
	text-align:center;
	font-family: Montserrat, sans-serif; 
	color: #77676E;
	;
}

nav {
	color:#99BFE5;
	text-align: right;
	margin-left: 100px;
	font-weight: 600;
}
img {

	width:100%;
}

body {
	color: #77676E;
	font-family: avenir;
}

a {
	text-decoration: none;
	color: #99BFE5;
}

footer{
	text-transform: uppercase;
	font-weight: 600;
}