header {
	text-align:center;
	font-family: Montserrat, sans-serif; 
	color: #77676E;
	;
}

nav {
	color:#99BFE5;
	text-align: right;
	margin-left: 100px;
	font-weight: 600;*/
}

a {
	color: #99BFE5;
	font-family: avenir;
	font-size: 16px;
	font-weight: 500;
	text-decoration: none;
	padding-right: 20px;
}

img {
	width:100%;
	height: auto;
	filter: grayscale(50%);
	/*filter: contrast(80%)*/
	/*filter: brightness(70%);*/
	/*filter:hue-rotate(362deg);*/
	/*filter:blur(5px);*/
}

h1 {
	color: #99BFE5;
	font-family: montserrat, sans-serif;
	font-weight: normal;
	font-weight: 400;
	font-size: 34px;
	text-align: center;
}

p {
	color: #77676E;
	font-family: avenir; sans-serif;
}

body {
	color: #77676E;
	font-family: avenir; sans-serif;
	font-weight: 400;
}

h2 {
	color: #99BFE5;
	font-family: montserrat, sans-serif;
	font-weight: 200;
	font-size: 20px;
	text-align: left;
	text-transform: uppercase;
}

li {
	color: #77676E;
	font-family: avenir; sans-serif;
}

.different {
	width: 100px;
	height: 100px;
	border-width: 1px;
	border-color: #77676E;
}


footer{
	text-transform: uppercase;
	font-weight: 600;
}